<footer class="bg-indian-gold py-4 mt-8">
    <div class="container mx-auto text-center text-white">
      <p> KOOTTU Indian Tea Please. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
