<header class="bg-red-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-2xl font-bold">
      <img src="https://placeit.net/_next/image?url=https%3A%2F%2Fimg0-placeit-net.s3-accelerate.amazonaws.com%2Fuploads%2Fstage%2Fstage_image%2F37817%2Foptimized_large_thumb_stage.jpg&w=1920&q=75" alt="Restaurant Logo" class="h-12 inline-block mr-2">
     
    </div>
    <nav class="space-x-4">
      <a href="/" class="hover:text-red-800">Home</a>
      <a href="/menu" class="hover:text-red-800">Menu</a>
      <a href="/about" class="hover:text-red-800">About Us</a>
 
    </nav>
  </div>
</header>
